<h2>Crear Película</h2>
<div>
  <div class="form-group">
    <label for="name">Nombre</label>
    <input [(ngModel)]="movie.name" type="text" class="form-control" id="name"  placeholder="Ingrese Nombre">
  </div>
  <div class="form-group">
    <label for="description">Descripción</label>
    <textarea [(ngModel)]="movie.description" type="text" class="form-control" id="description"  placeholder="Ingrese Descripción"></textarea>
  </div>
  <div class="form-group">
    <label for="genere">Género</label>
    <input [(ngModel)]="movie.genere" type="text" class="form-control" id="genere"  placeholder="Ingrese Género">
  </div>
  <div class="form-group">
    <label for="duration">Duración</label>
    <input [(ngModel)]="movie.duration" type="text" class="form-control" id="duration"  placeholder="Ingrese Duración">
  </div>
  <div class="form-group">
    <label for="year">Año</label>
    <input [(ngModel)]="movie.year" type="text" class="form-control" id="year"  placeholder="Ingrese Año">
  </div>


  <button (click)='saveMovie()' class="btn btn-primary">Guardar</button>
</div>
